@media (max-width: 767px) {
    #main-text {
        top: 30% !important;
    }
}

@media (max-width: 400px) {
    #main-text {
        top: 40% !important;
    }
    .icon-height {
        top: 30% !important;
    }
}

@media (max-width: 300px) {
    #main-text {
        top: 40% !important;
    }

    .icon-height {
        top: 30% !important;
    }
}