/* @media (min-width: 576px) { 
    .main-custom-card-sizing {
        max-width: 20rem !important;
    }
}

@media (min-width: 768px) { 
    .main-custom-card-sizing {
        max-width: 24rem !important;
    }
}

@media (min-width: 992px) { 
    .main-custom-card-sizing {
        width: 28rem !important;
    }
} */

@media (min-width: 576px) {
    .icon-transform-dark {
        position: absolute;
        left: 10% !important;
    }
}

@media (max-width: 400px) {
    .main-custom-card-sizing {
        top: 15% !important;
    }
}

@media (max-width: 300px) {
    .main-custom-card-sizing {
        top: 20% !important;
    }
}