:root {
    --dark-mode-color: #ffffff;
    --dark-mode-color-hover: #ff002b;
    --dark-mode-background: rgba(255, 255, 255, 0.007);

    --light-mode-color: rgb(104, 242, 255);
    --light-mode-color-hover: rgb(56, 173, 184);
}

body[data-bs-theme="dark"] {
    background-color: #111;
}

/* Under construction */
#under-construction {
    display: none;
    min-height: 100vh;
    background-color: #121212;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

#under-construction h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#under-construction p {
    font-size: 1.5rem;
    opacity: 0.8;
}

.hidden {
    display: none !important;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

#main-text {
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    max-height: 30%;
    max-width: 50%;
}

/* Centering container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Dark/Light mode text */
.text-light {
    color: #000 !important;
    opacity: 100% !important;
    /* color:#d32f2f !important; */
}
.text-light:hover {
    color: #000 !important;
    /* color: rgb(34, 34, 34) !important; */
}
.text-dark {
    color: var(--dark-mode-color) !important;
}
.text-dark:hover {
    color: var(--dark-mode-color-hover) !important;
}

/* Dark/Light underline */
.custom-h5-styling {
    position: relative;
    display: inline-block;
    font-size: 24px;
    padding: 0px 5px;
    font-weight: 600;
}



/* Dark/Light ACTIVE navigation item color change */
.active-light {
    border-bottom: 2px solid #000 !important;
}
.active-dark {
    border-bottom: 2px solid var(--dark-mode-color) !important;
}

/* Dark/Light animated underline --- (onHoverUnderline) */

.nav-hover-custom {
    position: relative;
    display: inline-block; /* Ensures width is only as much as content */
}

.nav-hover-custom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 0;
    height: 2px;
    background-color: var(--dark-mode-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-hover-custom:hover::after {
    width: 100%;
    left: 0;
}

.on-hover-dark::after {
    background-color: var(--dark-mode-color) !important;
}

.on-hover-light::after {
    background-color: black;
}

/* Icon resizing */
.icon-resize {
    font-size: 32px;
}

/* Theme change icon / button */

.icon-height {
    position: absolute;
    top: 20%;
}

.icon-dark {
    cursor: pointer;
    text-shadow: 0 0 10px white, 0 0 20px white !important;
    transition: transform 0.3s ease-in-out;
}

.icon-light {
    cursor: pointer;
    text-shadow: 0 0 10px black, 0 0 20px black !important; /* Multiple shadows for more saturation */
    transition: transform 0.3s ease-in-out;
}

.icon-dark:hover {
    transform: translateY(-10px);
}

.icon-light:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-10px) 
}